/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common layout styles */
header,
section {
  display: flex;
}

.info-section figure {
  display: block;
  text-align: center;
}

.info-images {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
}

.info-section figure {
  height: 240px;
  padding: 4px;
  margin: 0 auto;
  border: 2px solid black;
}

/* mobile first */
@media only screen and (max-width: 400px) {
  /* common styles */
  h1,
  h2,
  h3,
  figcaption,
  .testimonial > div > blockquote,
  .call-to-action-card,
  footer {
    text-align: center;
  }

  main > div,
  .testimonial > div,
  .call-to-action-card {
    padding: 24px;
  }

  /* header section */
  header {
    display: block;
    height: 40px;
  }

  header > ul {
    display: none;
  }

  /* main section */
  main {
    height: 420px;
  }

  main > div:first-of-type {
    /* height: 240px; */
    text-align: center;
  }

  main > div:last-of-type {
    height: 200px;
    width: 300px;
    border: 2px solid black;
    margin: 0 auto;
  }

  /* info section */
  .info-section figure {
    width: 100%;
  }

  .info-section h2,
  .info-section figure {
    margin-bottom: 16px;
  }

  /* testimonial section */
  .testimonial {
    height: 200px;
  }

  /* call to action section */
  .call-to-action-section {
    height: 160px;
  }

  /* footer */
  footer {
    height: 40px;
  }
}

/* desktop styles */
@media only screen and (min-width: 601px) {
  /* common styles */
  section {
    justify-content: center;
    align-items: center;
  }

  /* header styling */
  header {
    width: 80%;
    height: 48px;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  header > ul {
    display: flex;
    list-style: none;
    gap: 16px;
  }

  /* hero styling */
  main {
    height: 240px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
  }

  main > div > h2 {
    margin-bottom: 4px;
  }

  main > div > p {
    margin-bottom: 16px;
  }

  #hero-image {
    border: 2px solid black;
    width: 300px;
    height: 150px;
  }

  /* info section styling */
  .info-section {
    height: 360px;
  }

  .info-section > div > h2 {
    text-align: center;
    margin-bottom: 16px;
  }

  .info-images {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 16px;
  }

  .info-section figure {
    flex: 0.25;
  }

  /* .info-image {
    border: 2px solid black;
    width: 120px;
    height: 120px;
  } */

  /* testimonial section */
  .testimonial {
    width: 60%;
    height: 200px;
    margin: 0 auto;
  }

  #testimonial-author {
    text-align: right;
  }

  /* call-to-action-section */
  .call-to-action-section {
    height: 120px;
  }

  .call-to-action-card {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }

  /* footer */
  footer {
    text-align: center;
    height: 48px;
  }
}
