/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header styling */
header {
  width: 80%;
  height: 48px;
  padding: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header > ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

/* hero styling */
main {
  height: 240px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

main > div > h2 {
  margin-bottom: 4px;
}

main > div > p {
  margin-bottom: 16px;
}

#hero-image {
  border: 2px solid black;
  width: 300px;
  height: 150px;
}

/* info section styling */
.info-section > h2 {
  text-align: center;
}

.info-images {
  display: flex;
  justify-content: space-around;
}

.info-section figure {
  display: block;
  text-align: center;
}

.info-image {
  border: 2px solid black;
  width: 160px;
  height: 160px;
}

/* testimonial section */
.testimonial {
  width: 60%;
  margin: 0 auto;
}

#testimonial-author {
  text-align: right;
}

/* call-to-action-section */
.call-to-action-section {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action-card {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

/* footer */
footer {
  text-align: center;
  height: 48px;
}
