/* css resets */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* font styles */
html {
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.5rem;
}

.hero > p {
  font-size: 1.2rem;
}

blockquote {
  font-size: calc(1.5rem + 0.5vw);
}

.hero,
h2,
.testimonial,
footer {
  text-align: center;
}

/* global styles */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
}

.header-links {
  display: none;
}

header,
main,
section,
footer {
  padding-bottom: 3rem;
}

button {
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.hero-image-container {
  border: 2px solid red;
  height: 10em;
}

.info-images {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.info-images figure {
  border: 2px solid red;
  height: 15em;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.testimonial > div {
  width: 80%;
  margin: 0 auto;
}

.call-to-action-card {
  display: block;
  text-align: center;
}

/* mobile layout */
@media only screen and (max-width: 400px) {
  .hero,
  .hero-image-container {
    width: 100%;
  }
}

/* tablet layout */
@media only screen and (min-width: 401px) and (max-width: 799px) {
  .hero,
  .hero-image-container {
    width: 100%;
  }

  .info-images figure {
    width: 50%;
  }
}

/* desktop layout */
@media only screen and (min-width: 800px) {
  .hero,
  .testimonial {
    text-align: left;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
  }

  .header-links {
    gap: 1em;
  }

  .header-links,
  .footer-links {
    display: flex;
    justify-content: space-around;
  }

  main,
  section {
    margin-bottom: 0;
  }

  .hero-image-container {
    height: 160px;
  }

  .hero,
  .hero-image-container {
    flex: 1;
  }

  .info-images figure {
    flex: 1;
    max-width: 300px;
  }

  .testimonial {
    width: 80%;
    margin: 0 auto;
  }

  .call-to-action-card {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
